.recent-work {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
}

.section-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.section-subtitle {
  font-size: 16px;
  color: #666;
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.work-gallery {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.work-item {
  width: 400px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.work-item:hover {
  transform: translateY(-10px);
}

.work-image {
  width: 110%; /* Ensure images are responsive */
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.work-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

.work-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.6;
}

.know-more-btn {
  background-color: #00cc66;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
}

.know-more-btn:hover {
  background-color: #00994d;
}

/* Responsive Design */
@media (max-width: 768px) {
  .work-gallery {
    flex-direction: column;
    gap: 40px;
  }

  .work-item {
    width: 100%; /* Full width for smaller screens */
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 28px;
    font-size: 2rem;
  }

  .section-subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .work-item {
    width: 100%; /* Adjust the item width */
    padding: 15px; /* Smaller padding for mobile */
  }

  .work-image {
    height: 250px; /* Adjust image height for smaller screens */
  }

  .work-title {
    font-size: 22px;
  }

  .work-description {
    font-size: 14px;
  }

  .know-more-btn {
    padding: 8px 16px; /* Adjust button size for mobile */
    font-size: 14px;
  }
}
